
@model BookListModel

@{
    ViewData["Title"] = ViewBag.Title;
}

<h1>Kitaplar</h1>

<a asp-controller="Books" asp-action="Create" class="btn btn-success mt-3">Kitap Ekle</a>

@if (Model.Books.Count > 0)
{
    <table class="mt-3 table">
        <thead>
            <tr>
                <th scope="col">Resim</th>
                <th scope="col">Kitap Adı</th>
                <th scope="col">Yazar Adı</th>
                <th scope="col">Yayın Yılı</th>
                <th scope="col">ISBN No</th>
                <th scope="col">İşlemler</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var book in Model.Books)
            {
                <tr class="align-middle">
                    <td><img class="w-100px" src="~/img/@book.ImageUrl" /></td>
                    <td><a class="my-link" asp-controller="Books" asp-action="Detail" asp-route-id="@book.Id" asp-route-bookTitle="@UrlHelper.ToUrlFriendly(book.Title)">@book.Title</a></td>
                    <td><a asp-controller="Authors" asp-action="Detail" asp-route-id="@book.Author.Id" asp-route-authorTitle="@UrlHelper.ToUrlFriendly(book.Author.Name)" class="card-text ms-2 mb-1">@book.Author.Name</a></td>
                    <td>@book.PublicationYear</td>
                    <td>@book.ISBN</td>
                    <td>
                        <div>
                            <a asp-controller="Books" asp-action="Update" asp-route-id="@book.Id" asp-route-bookTitle="@UrlHelper.ToUrlFriendly(book.Title)" class="btn btn-outline-warning">Güncelle</a>
                            <a asp-controller="Books" asp-action="Delete" asp-route-id="@book.Id" class="btn btn-outline-danger">Sil</a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <nav aria-label="Page navigation example">
        <ul class="pagination d-flex justify-content-center">
            @for (int i = 1; i <= Model.TotalPages; i++)
            {
                <li class="page-item"><a class="page-link" asp-controller="Books" asp-action="Index" asp-route-pageNumber="@i">@i</a></li>
            }



        </ul>
    </nav>
}
else 
{
    <h3 class="mt-3">Kütüphanede kitap bulunmamaktadır.Lütfen kitap ekleyiniz</h3>
}



